@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	--action-color: #FF6464;
	--base-color: #13DCFF;
	--active-text: #110000;
	background-color: #ffffff;
	margin:  0;
	padding: 0;
	min-height: 100%;
	font-size: 100%;
}

header{
	background-color: white;
	margin:  5px;
	padding: 5px;
	text-align: center;
}

canvas{
	width: 100%;
	height: 100%;
}

.top{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 25px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro-main{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 70px;
	margin: 120px;
}

.contact{
	font-size: 20px;
}

.contact h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

.open-resume{
	width: 208px;
	height: 47px;
	border-radius: 2px;
	background: var(--primary, #FF6464);
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #FFF;
	margin-top: 30px;
	float: left;
	transition-duration: 0.4s;
}

.open-resume:hover{
	background: var(--primary, white);
	color: black;
	box-shadow: 0 0 2px 2px black;
}

.open-resume.dark-mode:hover{
	background-color: #E0E0E0;
	color:black;
	box-shadow: 0 0 0px 0px black;
}

.recent-posts-main{
	--border-width: 4px;
	background-color: rgb(19, 220, 255);
	padding: 20px;
	padding-left: 120px;
	padding-right: 120px;
	border-top: var(--border-width) dashed black;
	border-bottom: var(--border-width) dashed black;
	margin-bottom: 32px;
}

.recent-posts-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.section-title{
	font-size: 25px;
	font-weight: 300;
}

.view-all{
	color: var(--active-text);
	text-align: right;
	font-weight: bold;
}

.view-all:hover{
	text-decoration-color: var(--action-text);
	text-decoration-line: underline;
}

.recent-posts{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: top;
	gap: 20px;
	justify-content: center;
}

.recent-post-item{
	background-color: white;
	padding: 15px;
	box-shadow: -4px 1px 4px 1px black;
	border-radius: 6px;
}

.post-data{
	margin-top: 20px;
	margin-bottom: 20px;
}

main.post{
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.featured-works-main{
	background-color: white;
	padding: 20px;
	padding-left: 120px;
	padding-right: 120px;
}

.featured-work-item{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row-reverse;
	align-items: top;
	gap: 20px;
	justify-content: left;
}

.featured-work-item a img{
	max-height: 200px;
	width: auto;
	min-width: 356px;
	border-radius: 8px;
}

a img:hover{
	box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}

.container{
    min-height:100vh;
    position:relative;
}

footer{
	padding-bottom: 80px;
	min-height: 100%;
}

.footer-main{
	position: absolute;
	bottom: 0;
	width: 100%;
	height:  80px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.author{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 18px;
}

nav{
	margin-left: 40px;
	margin-bottom: 20px;
}

iframe{
	width:  100%;
	height:  600px;
}

table{
	text-align: center;
}

table, th, td{
	border:  1px solid blue;
}

td{
	width: 50px;
	height: 50px;
	background-color: antiquewhite;
}

section{
	font-family: 'Roboto', sans-serif;
}

h1{
	margin-bottom: 20px;
	font-family: Courier New;
	color: #00b1ff;
}

h2{
	text-align: left;
}

main.post h2{
	margin-top: 15px;
	margin-bottom: 20px;
}

main.post p{
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 18px;
}

img{
	width: 50%;
}

figcaption{
	text-align: right;
	margin-bottom: 15px;
}

.page-name{
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-style: normal;
	font-family: Courier New;
	color: var(--base-color) !important;
	text-decoration-line: none !important;
}

.img-row{
	display:  flex;
}

.img-column{
	flex:  50%;
	padding: 5px;
}

.top{
	text-align: right;
}

section p{
	text-align: justify;
}

a{
	color: black;
	font-family: 'Roboto', sans-serif;
	text-decoration-line: none;
}

a:hover{
	text-decoration-line: underline;
}

hr{
	border: 1px solid #E0E0E0;
}

.toggle-dark-mode{
	width: 30px;
	height: 30px;
	background-color: white;

	display: flex;
	place-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor:  pointer;
}

.dark-mode-icon{
	width: 30px;
	height: 30px;
}

.dark-mode-icon.dark-mode{
	width: 20px;
	height: 20px;
	background-color: #151515;
}

.dark-mode{
	background-color: #262626;
	color:  #eeeeee;
}

.toggle-dark-mode.dark-mode{
	background-color: #151515;
}

.recent-posts-main.dark-mode{
	background-color: #353535;
}

.recent-posts-header.dark-mode{
	background-color: #353535;
}

.recent-posts-header .section-title.dark-mode{
	background-color: #353535;
}

.view-all.dark-mode{
	background-color: #353535;
}

.recent-posts.dark-mode{
	background-color: #353535;
}

a.dark-mode{
	color: #d445e4;
}

td.dark-mode{
	background-color: #151515;
}

@media screen and (max-width: 992px){
	.intro-main{
		flex-direction: column-reverse;
		margin-left: 30px;
		margin-right: 30px;
	}

	.recent-posts-main{
		padding-left: 30px;
		padding-right: 30px;
	}

	.recent-posts{
		flex-direction: column;
	}

	.featured-works-main{
		padding-left: 30px;
		padding-right: 30px;
	}

	main.post{
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media screen and (max-width: 700px){
	.featured-work-item{
		flex-direction: column;
	}
}