@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background-color: #ffffff;
	margin:  0;
	padding: 0;
	min-height: 100%;
	font-size: 100%;
}

.top{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 25px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro_main{
	display:flex;
	flex-direction: row;
	align-items: center;
	gap: 70px;
	margin: 120px;
}

.open_resume{
	width: 208px;
	height: 47px;
	border-radius: 2px;
	background: var(--primary, #FF6464);
	text-align: center;
	font-weight: bold;
	color: #FFF;
	margin-top: 30px;
	float: left;
}

#container {
    min-height:100%;
    position:relative;
}

#main {
	padding: 0px;
	padding-bottom: 80px;
	min-height: 100%;
}

header{
	background-color: white;
	margin:  5px;
	padding: 5px;
	text-align: center;
}

main{
	background-color: white;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: 5px;
	border: 5px;
	border-color: #00b1ff;
	border-style: solid;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 5px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height:  80px;
	background-color: white;
	font-family: Courier New;
	text-align: center;
}

iframe{
	width:  100%;
	height:  600px;
}

table{
	text-align: center;
}

table, th, td{
	border:  1px solid blue;
}

td{
	width: 50px;
	height: 50px;
	background-color: antiquewhite;
}

section{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: Courier New;
	color: #00b1ff;
}

h2{
	text-align: left;
}

img{
	width: 50%;
}

.page-name{
	font-style: normal;
	font-family: Courier New;
	color: #00b1ff !important;
	text-decoration-line: none !important;
}

.img-row{
	display:  flex;
}

.img-column{
	flex:  50%;
	padding: 5px;
}

.toggle-dark-mode{
	width: 20px;
	height: 20px;
	background-color: #eee8e1;

	display: grid;
	place-items: center;
	border-radius: 50%;
	cursor:  pointer;
}

.toggle-dark-mode i{
	font-size:  20px;
	color:  #202020;
}

.toggle-dark-mode.dark-mode i{
	color:  #777;
}

.dark-mode{
	background-color: #353535;
	color:  #eeeeee;
}

main.dark-mode{
	background-color: #262626;
}

header.dark-mode{
	background-color: #262626;
}

footer.dark-mode{
	background-color: #262626;
}

.toggle-dark-mode.dark-mode{
	background-color: #151515;
}

.top{
	text-align: right;
}

section p{
	text-align: justify;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration-line: none;
}

a:hover{
	text-decoration-line: underline;
}

a.dark-mode{
	color: #d445e4;
}

td.dark-mode{
	background-color: #151515;
}